[package]
name = "shuffle-shard-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
proxy-wasm = "0.2.2"
log = "0.4"

[profile.release]
lto = true
opt-level = 3
strip = true
